.container{    
    display: flex;
        /* width: 100px; */
        /* height: max-content; */
        border: 1px solid #E3E3E3;
        border-radius: 10px;
        margin-bottom: 26px;
        /* margin-top: 6px; */
        justify-content: center;
        padding: 14px;
        position: relative;

}

 .image{
    height: 100px;
    width: 90px;
} 

.num{
    position: absolute;
    top: 50px;
    text-align: center;
    font-size: 25px;
    color: white;
    font-weight: 500;
    font-family: "Roboto";
}


