.payment-btn{
    background-color:#fff;
    border-radius: 25px;
    height: 32px;
    width: 165px;
    margin-left: 1%;
    margin-top: 10px;
    color: #898989;
}

.selectColor{
    background-color: #DA3743;
    color: #FFFFFF;
}

:where(.css-dev-only-do-not-override-7ny38l).ant-btn-variant-outlined:not(:disabled):not(.ant-btn-disabled):hover,
:where(.css-dev-only-do-not-override-7ny38l).ant-btn-variant-dashed:not(:disabled):not(.ant-btn-disabled):hover {
    color: #898989;
    border-color: #898989;
}
