.header-container {
    display: flex;
    gap: 20%;
    background: linear-gradient(to right,#53DAD1,#fff);
    border-radius: 10px;
    position: fixed;
    top: 5px;
    width: 100%;
    height: 50px;
    z-index: 1;
}

.Mentaurant-text {
    font-family: "Ribeye";
    margin-top: 15px;
}

.hotel-img {
    height: 37px;
    margin-top: 7px;
    margin-left: 10px;
}
.profile-img{
    height: 40px;
    margin-top: 7px;
    margin-left: 60px;
}

.name-text {
    font-family: "Roboto";
    font-size: 13px;
    font-weight: 600;
}

.role-text {
    font-family: "Roboto";
    font-size: 11px;
    margin-top: -12px;
}