.Side-Menu-container {
    width: 70px;
    height: 100%;
    background-color: #DBF8F6;
    border-radius: 10px;
    position: fixed;
    z-index: 1;
    top: 65px;
}

.side-menu-imgs {
    margin-left: 22px;
    margin-top: 15px;
    height: 25px;
    background-color: transparent;
}

.side-menu-text {
    text-align: center;
    color: #898989;
    margin-top: 5px;
    font-family: "Roboto";
    font-size: 14px;
}

.side-menus {
    cursor: pointer;
    text-decoration: none;
}

.side-menus.active .side-menu-text {
    color: #DA3743;
    border-bottom: 2px solid #DA3743; 
    border-radius: 2px;
    
}
  
.selected-line {
    border-bottom: 2px solid black;
}
